<section>
  <h1>Login</h1>

  <form phx-submit="login">
    <label>Email</label>
    <input name="email" type="email" />
    <%= if @error do %>
      <%= error_message(@error) %>
    <% end %>

    <button type="submit">Login</button>
  </form>
</section>
